@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Regular.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-RegularItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Medium.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-MediumItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Semibold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-SemiboldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Bold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
}

@font-face {
	font-family: 'SF Mono';
	src: local("SF Mono BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-BoldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Regular.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-RegularItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Medium.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-MediumItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Semibold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-SemiboldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Bold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
}

@font-face {
	font-family: 'SFMono-Regular';
	src: local("SF Mono BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-BoldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Regular.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-RegularItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Medium.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-MediumItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Semibold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-SemiboldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Bold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
}

@font-face {
	font-family: 'Consolas';
	src: local("SF Mono BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-BoldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Regular.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;

}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-RegularItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Medium.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-MediumItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Semibold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-SemiboldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Bold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
}

@font-face {
	font-family: 'Menlo';
	src: local("SF Mono BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-BoldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Regular.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-RegularItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Medium.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-MediumItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Semibold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-SemiboldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-Bold.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
}

@font-face {
	font-family: 'Monaco';
	src: local("SF Mono BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Mono-BoldItalic.otf");
	unicode-range: U+0000-26FF;
	font-weight: 700;
	font-style: italic;
}