@font-face {
	font-family: 'SF Compact Text';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'SF Compact Text';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'AlibabaPuHuiTi';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Arial';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Arial';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Arial Unicode MS';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Arial Unicode MS';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Crisp Noto Sans Regular';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'dosis';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'font-regular';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'font-regular';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Helvetica';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}


@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}


@font-face {
	font-family: 'HelveticaNeue-Bold';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Hiragino Sans GB';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'LatoWeb';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Lucida Grande';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Lucida Grande';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Lucida Grande';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Lucida Grande';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'lucida Grande';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'lucida Grande';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'lucida Grande';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'lucida Grande';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Microsoft Yahei';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: '微軟正黑體';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: '微软雅黑';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: '微软雅黑';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: '微软雅黑';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: '微软雅黑';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: '微软雅黑';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'muli';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'muli';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'muli';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'muli';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: '.PingFang SC';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'PingFangSC-Regular';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'PingFangSC-Medium';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'PingFangSC-Semibold';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'PingFang SC';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'pt sans';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'pt sans';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Segoe UI Web (West European)';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Segoe UI Web (West European)';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}


@font-face {
	font-family: 'SegoeUI';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'SegoeUI';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Tahoma';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Tahoma';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Tahoma';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Tahoma';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Times New Roman';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Trebuchet MS';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Trebuchet MS';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Trebuchet MS';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Trebuchet MS';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Ubuntu Light';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Ubuntu Light';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 300;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Light"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Light.otf");}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 300;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text LightItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-LightItalic.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 500;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Medium"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Medium.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 500;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text MediumItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-MediumItalic.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 600;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Semibold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Semibold.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 600;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text SemiboldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-SemiboldItalic.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Verdana';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}

@font-face {
	font-family: 'Verdana';
	font-weight: 400;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text RegularItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-RegularItalic.otf");
}

@font-face {
	font-family: 'Verdana';
	font-weight: 700;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Bold"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Bold.otf");
}

@font-face {
	font-family: 'Verdana';
	font-weight: 700;
	font-style: italic;
	unicode-range: U+00-2F, U+003A-21FF;
    src: local("SF Compact Text BoldItalic"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-BoldItalic.otf");
}

@font-face {
	font-family: 'Whitney';
	font-weight: 400;
	unicode-range: U+00-2F, U+003A-21FF;
	src: local("SF Compact Text Regular"), url("https://cdn.jsdelivr.net/gh/kyle1an/SF-Fonts@master/Fonts/SF-Compact-Text-Regular.otf");
}
